In [ ]:
import pandas as pd

df=pd.read_csv("Online_Retail_Cleaned.csv")
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010,2.55,17850,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010,3.39,17850,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010,2.75,17850,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010,3.39,17850,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010,3.39,17850,United Kingdom,20.34

In [2]:
df['InvoiceDate']=pd.to_datetime(df['InvoiceDate'])

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 390942 entries, 0 to 390941
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    390942 non-null  int64
 1   StockCode    390942 non-null  object
 2   Description  390942 non-null  object
 3   Quantity     390942 non-null  int64
 4   InvoiceDate  390942 non-null  datetime64[ns]
 5   UnitPrice    390942 non-null  float64
 6   CustomerID   390942 non-null  int64
 7   Country      390942 non-null  object
 8   Total Price  390942 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(3), object(3)
memory usage: 26.8+ MB

In [4]:
customer_summary=df.groupby('CustomerID').agg(TotalOrder=('InvoiceNo', 'nunique'),
                                              TotalQuantity=('Quantity','sum'),
                                              TotalSpend=('Total Price', 'sum'),
                                              FirstPurchase=('InvoiceDate','min'),
                                              LastPurchase=('InvoiceDate','max')).reset_index()

In [5]:
customer_summary.tail()

,CustomerID,TotalOrder,TotalQuantity,TotalSpend,FirstPurchase,LastPurchase
4326,18280,1,45,180.60,2011-03-07,2011-03-07
4327,18281,1,54,80.82,2011-06-12,2011-06-12
4328,18282,2,103,178.05,2011-08-05,2011-12-02
4329,18283,16,1355,2039.58,2011-01-06,2011-12-06
4330,18287,3,1586,1837.28,2011-05-22,2011-10-28

In [6]:
customer_summary['AVGBasketSize']=customer_summary['TotalQuantity']/customer_summary['TotalOrder']
customer_summary['AVGOrderValue']=customer_summary['TotalSpend']/customer_summary['TotalOrder']

In [7]:
last_date=df['InvoiceDate'].max()
customer_summary['DaysSinceLast']=(last_date-customer_summary['LastPurchase']).dt.days

In [8]:
customer_summary.to_csv("Customer_Summary.csv", index=False)